workflows/morning-news-digest.json
{
  "name": "morning-news-digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        272
      ],
      "id": "c5b77ac0-0ce2-4b09-b54d-f3a0e9e39688",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        -112
      ],
      "id": "b75c6b8d-843a-49e2-b9ee-e7d60c5c4e13",
      "name": "Get many child blocks",
      "credentials": {
        "notionApi": {
          "id": "fv7BdfGz7RJZGi7p",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over items and find the block that matches current day\nconst date = new Date().toLocaleDateString('en-US', {weekday: 'long'});\nconst result = [];\nlet boolFlag = false;\n\nfor (const item of $input.all()) {\n  if (item.json.type === \"heading_2\" && boolFlag) {\n    break;\n  }\n  if (boolFlag === true) {\n    result.push({json : {task : item.json.content}});\n  }\n  if (item.json.type === \"heading_2\" && item.json.content === date) {\n    // start adding to the array\n    boolFlag = true;\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -112
      ],
      "id": "f4ba4254-7dc7-427b-a9a3-d094c1aa7ddb",
      "name": "Get TODOs by day"
    },
    {
      "parameters": {
        "jsCode": "// key: title, value: score\nconst result = new Map();\n\n// Initialize a map where all items have a score of 0\nfor (const item of $input.all()) {\n  result.set(item, 0);\n}\n\nconst high_keywords = [\n  \"ai\", \"artificial intelligence\", \"machine learning\", \"llm\", \"gpt\", \"claude\",\n  \"deep learning\", \"new tool\", \"launch\", \"release\", \"product\", \"research\",\n  \"paper\", \"breakthrough\", \"google\", \"apple\", \"microsoft\", \"meta\",\n  \"openai\", \"anthropic\", \"nvidia\", \"ai jobs\", \"hiring\", \"layoffs\",\n  \"job market\", \"intern\", \"new grad\", \"salary\", \"agentic\", \"harness\"\n];\n\nconst medium_keywords = [\n  \"open source\", \"open-source\", \"framework\", \"library\", \"python\", \"javascript\",\n  \"iphone\", \"macbook\", \"laptop\", \"phone\", \"pixel\", \"galaxy\",\n  \"regulation\", \"antitrust\", \"ai policy\", \"ban\", \"youtube algorithm\",\n  \"creator\", \"monetization\", \"platform\", \"breach\", \"hack\", \"data leak\"\n];\n\nconst exclude_keywords = [\n  \"startup funding\", \"series a\", \"raised\", \"venture capital\",\n  \"cryptocurrency\", \"crypto\", \"blockchain\", \"nft\", \"web3\"\n];\n\n// Filter -> Score\nfor (const item of $input.all()) {\n  const title = item.json.title;\n  \n  // hard excluding logic\n  for (const word of exclude_keywords) {\n    if (title.toLowerCase().includes(word)) {\n      result.delete(item);\n    }\n  }\n\n  // scoring logic HIGH\n  for (const word of high_keywords) {\n    if (title.toLowerCase().includes(word)) {\n      let score = result.get(item);\n      score += 3;\n      result.set(item, score);\n    }\n  }\n\n  // scoring logic MEDIUM\n  for (const word of medium_keywords) {\n    if (title.toLowerCase().includes(word)) {\n      let score = result.get(item);\n      score += 1;\n      result.set(item, score);\n    }\n  }\n\n}\n\nconst top2Titles = [...result.entries()]\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 2)\n  .map(([item]) => item);\n\nreturn top2Titles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        80
      ],
      "id": "ef1e30f9-63e8-4d5d-b336-b7becf1feda9",
      "name": "Filter -> Score -> Return top 2 news"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add only news\nconst items = $input.all()[0].json.data.children\nconst result = []\n\nfor (const item of items) {\n  if (item.data.link_flair_text === \"News\") {\n    result.push(item)\n  }\n}\n\nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        272
      ],
      "id": "b79d1e8a-15d0-43ac-91e3-be0d0fbabd45",
      "name": "Filter for news only"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/chelseafc/hot.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        272
      ],
      "id": "cb71a00c-9f69-43ad-95d3-9dbe9515719b",
      "name": "Pull Hot post from r/chelseafc"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        80
      ],
      "id": "b55de334-7a5d-4a6a-a6f9-8296eb3e0aa0",
      "name": "RSS Read HackerNews"
    },
    {
      "parameters": {
        "operation": "search",
        "text": "To Do (For n8n)",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        -112
      ],
      "id": "3876b322-0ad6-41a3-9220-9e0c4ae543c5",
      "name": "Search for To Do (For n8n)",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "notionApi": {
          "id": "fv7BdfGz7RJZGi7p",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.nintendolife.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        496
      ],
      "id": "73ca951c-dcb2-48d3-98b1-dbf2070b054c",
      "name": "Nintendo News Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f339daa7-e99d-41ef-8613-89f48c93b3fc",
              "leftValue": "={{ $json.title }}",
              "rightValue": "hades",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "e79c4be5-5263-47f7-b81c-5394fbf83e15",
              "leftValue": "={{ $json.category }}",
              "rightValue": "News",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        624,
        496
      ],
      "id": "b423326a-d8cf-4454-a6c4-0201f02a9270",
      "name": "Filter for news only1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "data.ups",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        656,
        272
      ],
      "id": "a77bde4e-66d8-4dfd-ade0-7e61a704d734",
      "name": "sort by upvote"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        864,
        272
      ],
      "id": "e83df799-44d0-44db-a17c-9a74d6e820ba",
      "name": "Limit for top 3"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        832,
        496
      ],
      "id": "359a8f24-0927-40c7-8998-9ce17f567cb5",
      "name": "Limit for top 2"
    },
    {
      "parameters": {
        "jsCode": "// take the data turn it into a string\nconst html = $input.all()[0].json.data;\n\nconst index = html.indexOf(\"<h2>Most Read</h2>\");\nconst end = html.indexOf(\"<h2>Guides</h2>\");\n\nconst content = html.substring(index, end)\n\n// regex to extract each article block\nconst matches = [...content.matchAll(\n  /<span class=\"prefix\">(\\d+)<\\/span>[\\s\\S]*?<a class=\"title accent-hover\" title=\"([^\"]+)\" href=\"([^\"]+)\">[\\s\\S]*?<span class=\"category accent\">([^<]+)<\\/span>/g\n)];\n\nconst results = matches.map(m => {\n  const rank = Number(m[1]);\n  const title = m[2]\n    .replace(/&amp;/g, \"&\")\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\");\n\nconst link = m[3].startsWith(\"http\")\n  ? m[3]\n  : `https://www.nintendolife.com/${m[3]}`;\n  \n  const category = m[4];\n  \n  return {\n    rank,\n    title,\n    category,\n    link\n  };\n});\n\nreturn results.map(item => ({json: item}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        496
      ],
      "id": "90a6e746-4601-4d48-905b-5a489eda089b",
      "name": "Extract Most read articles from html"
    },
    {
      "parameters": {
        "url": "=https://api.twelvedata.com/quote?symbol={{ $json.ticker }}&apikey={{ $env.TWELVE_DATA_API_KEY }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "cfb817dc-6771-4220-aa18-d7536581844d",
      "name": "Fetch Live Stock Price",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1024,
        976
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "fileSelector": "/path/to/your/watchlist.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        688
      ],
      "id": "ee7be674-0a05-493f-85e7-5058937833b3",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        688
      ],
      "id": "4d22a131-7b6f-4df0-b376-20cdf2a93bd0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "batchSize": 8,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        704
      ],
      "id": "622b3cff-d45f-4def-8ec0-e46a8664165e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "maxItems": 8
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        880,
        800
      ],
      "id": "5ffbfae9-d90d-42a9-8339-07c3ea0715a6",
      "name": "Limit 8 tickers"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        960
      ],
      "id": "bcf66239-a294-40ee-83b2-633643f1826b",
      "name": "Wait a minute",
      "webhookId": "3ad18cf3-2d11-466c-8073-49aa1df1a807"
    },
    {
      "parameters": {
        "jsCode": "let stocks = \"<h2>Stock Watchlist</h2><hr>\";\nstocks += \"<table border='1' cellpadding='8' cellspacing='0' style='border-collapse:collapse;width:100%;'>\";\nstocks += \"<tr><th>Symbol</th><th>Name</th><th>Price</th><th>% Change</th></tr>\";\n\nfor (const item of $input.all()) {\n  const stock = item.json;\n\n  const symbol = stock.symbol;\n  const name = stock.name;\n  const close = Number(stock.close).toFixed(2);\n\n  const percent = Number(stock.percent_change);\n  const formatted = (percent > 0 ? \"+\" : \"\") + percent.toFixed(2);\n  const color = percent >= 0 ? \"green\" : \"red\";\n\n  stocks += \"<tr>\";\n  stocks += \"<td><strong>\" + symbol + \"</strong></td>\";\n  stocks += \"<td>\" + name + \"</td>\";\n  stocks += \"<td>$\" + close + \"</td>\";\n  stocks += \"<td style='color:\" + color + \";font-weight:bold;'>\" + formatted + \"%</td>\";\n  stocks += \"</tr>\";\n}\n\nstocks += \"</table>\";\n\nreturn { stocks };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        688
      ],
      "id": "56862d15-3c9a-4aad-bfe2-0c324a908437",
      "name": "Convert into HTML (Stocks)"
    },
    {
      "parameters": {
        "jsCode": "let nintendo = \"<h2>Nintendo News:</h2><hr><ul>\"\n\nfor (const item of $input.all()) {\n  const title = item.json.title;\n  const link = item.json.link;\n  \n  nintendo += \"<li>\";\n  nintendo += \"<strong>\" + title + \"</strong><br>\";\n  nintendo += '<a href=\"' + link + '\">Read more</a>';\n  nintendo += \"</li><br>\";\n}\n\nnintendo += \"</ul>\";\n\nreturn {nintendo};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        496
      ],
      "id": "8d928f51-66bc-4955-831a-23b01cb5f5a4",
      "name": "Convert into HTML (Nintendo)"
    },
    {
      "parameters": {
        "jsCode": "let chelsea = \"<h2>Chelsea News:</h2><hr>\"\n\nfor (const item of $input.all()) {\n  const imageUrl = item.json.data.url_overridden_by_dest || item.json.data.url;\n  const link = \"https://www.reddit.com\" + item.json.data.permalink;\n\n  chelsea += '<div style=\"margin-bottom:20px;\">';\n  chelsea += '<a href=\"' + link + '\">';\n  chelsea += '<img src=\"' + imageUrl + '\" style=\"max-width:500px;width:100%;border-radius:8px;\">';\n  chelsea += '</a>';\n  chelsea += '</div>';\n}\n\nreturn { chelsea };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        272
      ],
      "id": "0b61b61a-b002-464b-adaf-70863537b1a6",
      "name": "Convert into HTML (Chelsea)"
    },
    {
      "parameters": {
        "jsCode": "let hackernews = \"<h2>HackerNews:</h2><hr><ul>\"\n\nfor (const item of $input.all()) {\n  const title = item.json.title;\n  const link = item.json.link;\n  \n  hackernews += \"<li>\";\n  hackernews += \"<strong>\" + title + \"</strong><br>\";\n  hackernews += '<a href=\"' + link + '\">Read more</a>';\n  hackernews += \"</li><br>\";\n}\n\nhackernews += \"</ul>\";\n\nreturn {hackernews};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        80
      ],
      "id": "b89d8c82-5fce-4de0-b615-5ebc520e3d4f",
      "name": "Convert into HTML (HackerNews)"
    },
    {
      "parameters": {
        "jsCode": "let todos = '<h2>ToDos for the day:</h2><hr><ul>';\n\nfor (const item of $input.all()) {\n  todos += '<li>' + item.json.task + '</li>';\n}\n\ntodos += '</ul>';"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -112
      ],
      "id": "ee9eb301-b9d0-46a1-9a93-379fc14737e1",
      "name": "Convert into HTML (ToDos)"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1616,
        224
      ],
      "id": "39ffba74-007a-4fd9-9a64-8cdab15a6013",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Header/Title of the whole thing\nlet intro = '<h1>Morning Digest</h1><h2>' + \n  new Date().toLocaleDateString('en-US', {\n      weekday: 'long',\n      year: 'numeric',\n      month: 'long',\n      day: 'numeric'\n      }) + '</h2>';\n\nreturn {intro};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -336
      ],
      "id": "27c30f97-f0d7-4b9f-907f-e9cc855bc242",
      "name": "Just add the title"
    },
    {
      "parameters": {
        "html": "<style>\n  body {\n    font-family: Arial, sans-serif;\n    line-height: 1.5;\n  }\n\n  h1 { margin-bottom: 0; }\n\n  h2 {\n    margin-top: 24px;\n    color: #333;\n  }\n\n  hr {\n    border: none;\n    border-top: 1px solid #ddd;\n    margin: 10px 0;\n  }\n\n  table {\n    border-collapse: collapse;\n    width: 100%;\n    margin-top: 10px;\n  }\n\n  th, td {\n    border: 1px solid #ddd;\n    padding: 8px;\n    text-align: left;\n  }\n\n  th {\n    background-color: #f5f5f5;\n  }\n</style>\n\n<div>\n  {{ $json.result.intro }}\n\n  {{ $json.result.todos }}\n\n  {{ $json.result.hackernews }}\n\n  {{ $json.result.chelsea }}\n\n  {{ $json.result.nintendo }}\n\n  {{ $json.result.stocks }}\n</div>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2064,
        288
      ],
      "id": "55b0016b-7a8d-44f0-b78e-0af033f6bb15",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "const result = {};\n\nfor (const item of $input.all()) {\n  Object.assign(result, item.json);\n}\n\nreturn {result};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        288
      ],
      "id": "99465300-def0-4fc1-84f2-01219f135581",
      "name": "Code in JavaScript because merge block is stupid"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "percent_change"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1072,
        688
      ],
      "id": "261221a2-1051-4c54-99ea-19c9ef14e0d3",
      "name": "Sort"
    },
    {
      "parameters": {
        "fromEmail": "puturemailhere@gmail.com",
        "toEmail": "puturemailhere@gmail.com",
        "subject": "Morning Digest!",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2256,
        288
      ],
      "id": "09fa6bc1-15b1-49df-8043-abbf80384fd3",
      "name": "Send an Email",
      "webhookId": "722d1055-92ad-4e67-9989-48812bb158bd",
      "credentials": {
        "smtp": {
          "id": "wNuRYGn6JvhJAPq5",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search for To Do (For n8n)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read HackerNews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pull Hot post from r/chelseafc",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nintendo News Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Just add the title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many child blocks": {
      "main": [
        [
          {
            "node": "Get TODOs by day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter -> Score -> Return top 2 news": {
      "main": [
        [
          {
            "node": "Convert into HTML (HackerNews)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Hot post from r/chelseafc": {
      "main": [
        [
          {
            "node": "Filter for news only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read HackerNews": {
      "main": [
        [
          {
            "node": "Filter -> Score -> Return top 2 news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for To Do (For n8n)": {
      "main": [
        [
          {
            "node": "Get many child blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nintendo News Request": {
      "main": [
        [
          {
            "node": "Extract Most read articles from html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for news only1": {
      "main": [
        [
          {
            "node": "Limit for top 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for news only": {
      "main": [
        [
          {
            "node": "sort by upvote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sort by upvote": {
      "main": [
        [
          {
            "node": "Limit for top 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Most read articles from html": {
      "main": [
        [
          {
            "node": "Filter for news only1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit 8 tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit 8 tickers": {
      "main": [
        [
          {
            "node": "Fetch Live Stock Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Live Stock Price": {
      "main": [
        [
          {
            "node": "Wait a minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait a minute": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TODOs by day": {
      "main": [
        [
          {
            "node": "Convert into HTML (ToDos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit for top 3": {
      "main": [
        [
          {
            "node": "Convert into HTML (Chelsea)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit for top 2": {
      "main": [
        [
          {
            "node": "Convert into HTML (Nintendo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert into HTML (Stocks)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Convert into HTML (Nintendo)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Convert into HTML (Chelsea)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Convert into HTML (HackerNews)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert into HTML (ToDos)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript because merge block is stupid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Just add the title": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Code in JavaScript because merge block is stupid": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Convert into HTML (Stocks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Vancouver",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a669a9c9-d751-4794-bb6a-cf27692f5073",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0f551df57de6458ea7eb15b82214f4e88b5df3ed12c47e79fbffe50ca5bb044"
  },
  "id": "Ia9r8qNqVm7se13E",
  "tags": []
}